footer{
    background-color: rgb(14, 14, 17);
    color: white;
    padding: 0 5% 100px;
    position: relative;

    ul{
        margin-top: 20px;
        li{
            list-style-type: none;
            opacity: 0.5;
        }
    }
    
    .head-title{
        font-weight: 600;
    }
    
    .footer-container{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 998px) AND (min-width: 768px){
            display: flex;
            flex-direction: column;

        }
        
        .bold{
            margin-left: 30px;
            font-size: 35px;
            font-weight: 900;
        }
        .contacts{
            font-size: 15px;
            @media (max-width: 998px) AND (min-width: 768px){
                text-align: center;
                font-size: 25px;
            }
        }
        .seguimi{
            @media (max-width: 998px) AND (min-width: 768px){
                text-align: center;
                font-size: 25px;
            }
            .policy{
                margin-top: 30px;
                li{
                    font-weight: 600;
                    color: white;
                    opacity: 1;
                }
            }
            
        }
        .newsletter{
            margin-right: 25px;
            @media (max-width: 998px) AND (min-width: 768px){
                margin-right: 0px;
                text-align: center;
                font-size: 25px;
            }
            .send-email{
                display: flex;
                justify-content: center;
                align-items: center;
                .email{
                    width: 150px;
                    height: 63px;
                    input{
                        font-size: 15px;
                        padding: 20px 40px;
                        outline: none;
                        border: none;
                        width: 100%;

                    }
                }
                .send{
                    width: 150px;
                    a{
                        font-size: 16px;
                        padding: 21px 55px;
                        background-color: rgb(239, 243, 7);
                        width: 100%;
                        color: white;
                        @media (max-width: 998px) AND (min-width: 768px){
                            padding: 15px 55px;
                            font-size: 25px;
                        }
                        
                    }

                }

            }
        }
        
    }
    .arrow-up{
        position: absolute;
        right: 108px;
        bottom: 25px;
        background-color: rgb(239, 243, 7);
        padding: 0px 11px;
        border-radius: 50%;
        a{
            font-size: 30px; 
            text-decoration: none;
            color: white;

        }
    }
}