@import '../components/home-header';

@import '../components/jumbotron';

@import '../components/spacer';

@import '../components/disclaimer';

@import '../components/product';

@import '../components/slogan';

@import '../components/partners';

@import '../components/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}